<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center center">
  <div class="row col-lg-5 col-xs-12">
    <div class="card shadow background">
      <div class="card-body">
        <h4 class="card-title">Register</h4>
        <form action="/register" method="POST" class="validated-form" novalidate>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" autofocus required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-success btn-block">Register</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

</div>

<!-- <div class="row">
  <h1 class="text-center">Register</h1>
  <div class="col-6 offset-3">
    <form action="/register" method="POST" class="validated-form" novalidate>
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div> -->